/* hero section style  */
.hero-section {
  background: linear-gradient(
      90deg,
      rgba(1, 22, 39, 1) 0%,
      rgba(1, 22, 39, 0.49653364763874297) 90%
    ),
    url(../../images/hero-bg-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 60px 0; */
  color: #fff;
  text-align: center;
}

.hero-title {
  font-size: 60px;
  line-height: 1.3em;
  width: 60%;
  margin: auto;
  font-weight: 700;
}

.outlined-btn {
  border-color: #f1faee !important;
  color: #f1faee !important;
}
.outlined-btn:hover {
  background: #ffd166 !important;
  color: #03071e !important;
  border-color: #ffd166 !important;
}
.number {
  font-size: 76px !important;
  margin-bottom: 0;
  margin-top: -20px;
  color: #f1faee;
}
.number-text {
  font-size: 24px;
  font-weight: 700;
  width: 50%;
  margin-bottom: 0;
  margin: auto;
  text-align: left;
  padding-left: 20px;
  border-left: 1px solid #1d3557;
  color: #1d3557;
}
