/* call to action style  */
.call-to-action {
  background: linear-gradient(
      90deg,
      rgba(1, 22, 39, 1) 0%,
      rgba(1, 22, 39, 0.49653364763874297) 90%
    ),
    url(../../images/cta-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
