/* reset default style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
}
/* font family  */
body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

/* regular btn  */
.contained-btn {
  background: #1d3557 !important;
}
